<div class="fixed top-0 right-0 h-screen p-4 z-100 overflow-y-auto transition-transform translate-x-full bg-neutral-primary-soft md:w-[50vw] w-[80vw] border-e border-default" tabindex="1" id="course-component" aria-labelledby="course-component">
  <div class="border-b border-default pb-4 mb-2 flex items-center">
      <h5 id="course-component" class="inline-flex items-center text-lg font-medium text-body">
         <svg class="w-5 h-5 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/></svg>
         Course Details
      </h5>
      <button type="button" (click)="hide()" class="text-body bg-transparent hover:text-heading hover:bg-neutral-tertiary rounded-base w-9 h-9 absolute top-2.5 end-2.5 flex items-center justify-center cursor-pointer">
         <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/></svg>
         <span class="sr-only">Close</span>
      </button>
   </div>
  <div class="py-1 px-6 w-full flex flex-col justify-between">
    <div>
      <h3 class="text-md font-semibold mb-2">{{ course?.label }}</h3>
      <p class="text-sm mb-4">{{ course?.description }}</p>

      <h3 class="text-md font-semibold mb-2">Learning Objectives</h3>
      <ol class="space-y-4 text-body list-decimal list-inside mb-4">
        @for(objective of course?.learning_objectives || []; track objective){
          <li>{{objective.label}}</li>
        }
      </ol>

      <h3 class="text-md font-semibold mb-2">Knowledge</h3>
      <ol class="space-y-4 text-body list-decimal list-inside">
        @for(concept of getConcepts(); track concept){
          <li>
            <a class="inline-flex font-medium items-center text-fg-brand hover:underline" href="{{concept.uri}}" target="_blank">
              {{concept.label}}
              <svg class="w-4 h-4 ms-2 rtl:rotate-270" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 14v4.833A1.166 1.166 0 0 1 16.833 20H5.167A1.167 1.167 0 0 1 4 18.833V7.167A1.166 1.166 0 0 1 5.167 6h4.618m4.447-2H20v5.768m-7.889 2.121 7.778-7.778"/></svg>

            </a>
        </li>
        }
      </ol>
    </div>
  </div>
</div>
